img{
    width: 20px;   
}
main{
    background-color: rgba(255, 255, 255, 0.50);
    text-align: center;
    margin: 40px;
    padding: 10px;
}

header{
    background-color: #0F0069;
    height: 270px;
    align-items: center;
    display: flex;
  
}
h1{
    margin-left: auto;
    margin-right: auto;
    font-size: 128px;
    font-weight: bold;
    color: #FFFFFF;
}
footer{
    background-color: #0F0069;
    height: 170px;
    max-width: 100%;
}
#contact{
    background-color: #D9D9D9;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    width: fit-content;
    padding-right: 20px;
    padding-bottom: 10px;
}
#subbb{
    background-color: #D9D9D9;
    max-width: 20vw;
}
li{
    list-style-type: none;
   

}

body{
    background-image: url("../kepek/hatter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.felsök{
    background-color: rgba(255, 255, 255, 0.50);
    align-items: center;
    display: flex;
    width: 200px;
    height: 60px;
}
.feli{
    font-size: 32px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.belsoszamok{
    background-color: rgba(0, 0, 0, 0.31);
    width: 70px;
    height: 70px;
    
    color: #FFFFFF;
    align-items: center;
    display: flex;

}
.szamok{
    font-size: 32px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    border: 3px black solid;
}
td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    font-size: 2rem;
}
#email{
    max-width: 40vw;
}